<div class="chat-header">
  <div class="chat-header-button">
    <div class="chat-room-name">
      <%= @room.name %>
    </div>
    <div class="chat-finish">
      <div class="finish-button">
        <%= link_to "チャットを終了する", room_path(@room), data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>
</div>
<div class="chat-main">
  <%= render partial: 'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
<%# <div class="chat-footer"> %>
  <div class="message-form">
    <%= f.text_field :content, class: 'message-text', placeholder: 'type a message' %>
    <%# <input type="text" placeholder="type a message" class="message-text"> %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
      <%# <input type="file" class="hidden"> %>
    </label>
  </div>
  <%# <input type="submit" value="送信" class="send"> %>
  <%= f.submit '送信', class: 'send' %>
<% end %>